*, *:before, *:after
{
    margin: 0;
    padding: 0;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

/* =========================================
   Variables & Font Setup
   ========================================= */
@font-face {
    font-family: 'Cursed Timer ULiL';
    /* Ensure you have the font file in your project folder */
    src: url('./CursedTimerUlil-Aznm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Typography */
h1{
    text-align: center;
    margin: .5em 0;
}
.board, .btn
{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 1rem;
}

.score {
    font-size: 1.5rem;
}

.title {
    font-size: 1.75rem;
    margin-bottom: .5em;
}

#lead-score {
    background-color: #080001;
    font-size: 1rem;
    padding: .5em 1em;
    color: #fff;
}

/* Buttons */
.btns{
    border: 1px solid yellow;
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.btn {
    padding: .5em 0;
    margin-left: .5em;
}


/* Layouts */
.container
{
    background-color: #1B244A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 700px;
    margin: 2em auto 0;
    padding: 2em 0;
    color: #fff;
    gap: 1em;
}

.col {
    width: 40%;
    border: 1px solid yellow;
    text-align: center;
    padding: 1em 2em;
}

.board {
    display: inline-block;
    padding: .5em;
    margin-bottom: .5em;
    background-color: #080001;
}

.score {
    /* border: 1px solid red; */
    display: inline-block;
    padding: .5em;
}

.btn-col {
    width: 40%;
    margin: 0 auto 1em;
    border: 1px solid yellow;
    display: grid;
    gap: .5em;
    grid-auto-columns: 1fr;
}

#new-game {
    grid-area: 'neew';
    background-color: #080001;
    color: #fff;
}

#leader-board {
    grid-area: 'lead';
    background-color: #080001;
    color: #fff;
}

#lead-score {
    grid-area: 'scor';
}
@media (min-width: 678px)
{
    .container{
        width: 90%;
        flex-direction: row;
        gap: 2em;
        padding: 2em 4em;
    }

    .col {
        width: 45%;
        padding: 1em 2em;
    }

    .title {
        font-size: 2rem;
    }

    .score {
        font-size: 2rem;
        padding: .25em;
    }

    .board{
        padding: .5em;
        margin-bottom: 1em;
    }

    .btns{
        flex-direction: row-reverse;
    }

    .btn{
        font-size: 1.75rem;
        padding: 0 .25em;
    }

    .btn-col {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "neew lead"
        "scor scor";
    }

    #lead-score {
        grid-column: span 2;
    }
}